@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: #000000;
  width: 100%;
}

section {
  width: 1730px;
  background-color: #ffffff;
  margin: auto;
}

.first-div {
  display: flex;
  width: 100%;
}

.left {
  padding-left: 180px;
  padding-right: 130px;
  padding-top: 70px;
  width: 50%;
}

.left-header {
  display: flex;
  gap: 60px;
  margin-bottom: 205px;
}

.left-header ul {
  display: flex;
  gap: 30px;
}

.left-header ul li {
  list-style-type: none;
  font-size: 22px;
}

.index,
.pricing {
  text-decoration: none;
}

#features-li {
  color: #304457;
  font-weight: 700;
}

#pricing-li {
  color: #5b7b99;
}

.fa-bars {
  display: none;
}

.left-writeup h1 {
  color: #1d1b67;
  font-size: 60px;
  margin-bottom: 30px;
}

.left-writeup p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 15px;
}

.button-div {
  display: flex;
}

.scheduling {
  font-size: 20px;
  background-color: #1d1b67;
  padding: 24px 42px;
  color: #ffffff;
  letter-spacing: 1px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
}

.demo {
  font-size: 20px;
  padding: 24px 42px;
  border: none;
  border-radius: 7px;
  background-color: #ffffff;
  font-weight: 700;
}

.disclaimer {
  display: flex;
  margin-top: 30px;
  margin-bottom: 290px;
}

.disclaimer-tablet {
  display: none;
}

.disclaimer div {
  display: flex;
}

.disclaimer img {
  margin-right: 15px;
}

.disclaimer p {
  font-size: 22px;
}

.disclaimer span {
  font-size: 22px;
  text-decoration: underline;
  margin-left: 10px;
  font-weight: bold;
}

.right {
  width: 50%;
  background-color: #46ccde;
  padding-top: 50px;
}

.right-image-div {
  height: 715px;
  width: 715px;
  margin: auto;
}

.right img {
  height: inherit;
}

.right button {
  margin-left: 440px;
  margin-bottom: 85px;
}

.second-div {
  width: 100%;
  display: flex;
  padding: 100px 0;
}

.pictures-container {
  width: 50%;
  padding-left: 180px;
  padding-right: 65px;
}

.pictures-container h1 {
  color: #1d1b67;
  font-size: 43px;
  margin-bottom: 40px;
}

.pictures-container-div-desktop {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.pictures-container-div-desktop img {
  height: inherit;
}

.pictures-container-div-mobile {
  display: none;
}

.pictures-container-div-tablet{
  display: none;
}

.writeup-container {
  width: 50%;
  padding-left: 95px;
}

.writeup-container h1 {
  width: 580px;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 45px;
}

.writeup-container h5 {
  width: 580px;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
}

.third-div {
  background-color: #cdf9ff;
  display: flex;
  padding-top: 80px;
}

.unified {
  width: 50%;
  padding-left: 180px;
}

.unified span {
  color: #375cbd;
  font-size: 20px;
  font-weight: 700;
}

.unified h1 {
  color: #005661;
  font-size: 45px;
  width: 580px;
  margin-top: 10px;
  margin-bottom: 19px;
}

.unified p {
  width: 610px;
  font-size: 22px;
  color: #354046;
  margin-bottom: 20px;
  line-height: 30px;
}

.unified button {
  margin-bottom: 80px;
}

.enhanced {
  width: 50%;
  padding-left: 95px;
}

.enhanced span {
  color: #375cbd;
  font-size: 20px;
  font-weight: 700;
}

.enhanced h1 {
  color: #005661;
  font-size: 45px;
  width: 580px;
  margin-top: 10px;
  margin-bottom: 19px;
}

.enhanced p {
  width: 610px;
  font-size: 22px;
  color: #354046;
  margin-bottom: 20px;
  line-height: 30px;
}

.enhanced button {
  margin-bottom: 80px;
  background-color: #cdf9ff;
  padding-left: 0;
  padding-right: 10px;
}

.live-demo {
  font-size: 20px;
  padding: 24px 30px;
  border: none;
  border-radius: 7px;
  background-color: #ffffff;
  font-weight: 700;
}

footer {
  padding: 95px 180px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-container {
  display: flex;
  gap: 300px;
}

.footer-list {
  display: flex;
  gap: 110px;
}

.footer-list div p {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 35px;
}

.footer-list div ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-list div ul > li {
  list-style-type: none;
  font-size: 20px;
  width: max-content;
}

.form-div p {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 10px;
}

form {
  display: flex;
  border: 2px solid #b8b8b8;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  padding-left: 3px;
}

input {
  border: none;
  outline: none;
  font-size: 22px;
  width: 50%;
  padding: 31px 0;
  padding-left: 30px;
}

form button {
  height: 75px;
  width: 235px;
  font-size: 20px;
  background-color: #1d1b67;
  color: #ffffff;
  letter-spacing: 1px;
  border: none;
  border-radius: 7px;
  font-weight: 600;
  margin-right: 5px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* MEDIA QUERIES */
/* FOR SCREENS 380px and BELOW */
@media screen and (max-width: 380px) {
  section {
    width: 100%;
    margin: auto;
  }

  .first-div {
    flex-direction: column;
  }

  .left {
    padding: 0;
    width: 100%;
    padding: 0 20px;
    padding-top: 35px;
  }

  .left-header {
    width: 100%;
    margin-bottom: 45px;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  .fa-bars {
    display: block;
  }

  .left-writeup h1 {
    font-size: 30px;
  }

  .left-writeup p {
    font-size: 16px;
  }

  .right {
    width: 100%;
    padding-top: 40px;
    margin-top: 35px;
  }

  .right-image-div {
    height: 315px;
    width: 315px;
    margin: auto;
    margin-bottom: 45px;
  }

  .scheduling {
    padding: 18px 16px;
    font-size: 18px;
    letter-spacing: 0;
  }

  .demo {
    font-size: 18px;
    padding: 0;
    padding-left: 50px;
  }

  .disclaimer {
    flex-direction: column;
    margin-bottom: 0;
  }

  .disclaimer-tablet {
  display: none;
}

  .disclaimer p {
    font-size: 16px;
  }

  .disclaimer span {
    font-size: 16px;
    margin-left: 35px;
  }

  .right button {
    display: none;
  }

  .second-div {
    flex-direction: column;
    padding: 50px 20px;
    justify-content: space-between;
  }

  .pictures-container {
    width: 100%;
    padding: 0;
  }

  .pictures-container h1 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet{
  display: none;
}

  .pictures-container-div-mobile {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .pictures-container-div-mobile div {
    height: 45px;
    display: flex;
    gap: 7px;
  }

  .pictures-container-div-mobile div img {
    width: 45px;
  }

  .writeup-container {
    width: 100%;
    padding: 0;
    margin-top: 35px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 16px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 16px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 20px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 16px;
  }

  .unified h1 {
    width: 100%;
    font-size: 30px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 16px;
  }

  .enhanced h1 {
    width: 100%;
    font-size: 30px;
  }

  .enhanced p {
    width: 100%;
    font-size: 17px;
  }

  .enhanced button {
    margin-bottom: 40px;
  }

  footer {
    padding: 30px 18px;
  }

  .footer-container {
    flex-direction: column;
    gap: 35px;
  }

  .footer-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 30px;
  }

  .footer-list div p {
    font-size: 20px;
  }

  .footer-list div ul > li {
    font-size: 16px;
  }

  input {
    padding: 20px 0;
    padding-left: 20px;
    font-size: 16px;
  }

  form button {
    width: 100%;
    width: 180px;
    font-size: 16px;
    height: 55px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 381px TO 450px */
@media screen and (min-width: 381px) and (max-width: 450px) {
  section {
    width: 380px;
    margin: auto;
  }

  .first-div {
    flex-direction: column;
  }

  .left {
    padding: 0;
    width: 100%;
    padding: 0 20px;
    padding-top: 35px;
  }

  .left-header {
    width: 100%;
    margin-bottom: 45px;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  .fa-bars {
    display: block;
  }

  .left-writeup h1 {
    font-size: 30px;
  }

  .left-writeup p {
    font-size: 16px;
  }

  .right {
    width: 100%;
    padding-top: 40px;
    margin-top: 35px;
  }

  .right-image-div {
    height: 315px;
    width: 315px;
    margin: auto;
    margin-bottom: 45px;
  }

  .scheduling {
    padding: 18px 16px;
    font-size: 18px;
    letter-spacing: 0;
  }

  .demo {
    font-size: 18px;
    padding: 0;
    padding-left: 50px;
  }

  .disclaimer {
    flex-direction: column;
    margin-bottom: 0;
  }

  .disclaimer-tablet {
  display: none;
}

  .disclaimer p {
    font-size: 16px;
  }

  .disclaimer span {
    font-size: 16px;
    margin-left: 35px;
  }

  .right button {
    display: none;
  }

  .second-div {
    flex-direction: column;
    padding: 50px 20px;
    justify-content: space-between;
  }

  .pictures-container {
    width: 100%;
    padding: 0;
  }

  .pictures-container h1 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet{
  display: none;
}

  .pictures-container-div-mobile {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .pictures-container-div-mobile div {
    height: 45px;
    display: flex;
    gap: 7px;
  }

  .pictures-container-div-mobile div img {
    width: 45px;
  }

  .writeup-container {
    width: 100%;
    padding: 0;
    margin-top: 35px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 16px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 16px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 20px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 16px;
  }

  .unified h1 {
    width: 100%;
    font-size: 30px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 16px;
  }

  .enhanced h1 {
    width: 100%;
    font-size: 30px;
  }

  .enhanced p {
    width: 100%;
    font-size: 17px;
  }

  .enhanced button {
    margin-bottom: 40px;
  }

  footer {
    padding: 30px 18px;
  }

  .footer-container {
    flex-direction: column;
    gap: 35px;
  }

  .footer-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 30px;
  }

  .footer-list div p {
    font-size: 20px;
  }

  .footer-list div ul > li {
    font-size: 16px;
  }

  input {
    padding: 20px 0;
    padding-left: 20px;
    font-size: 16px;
  }

  form button {
    width: 100%;
    width: 180px;
    font-size: 16px;
    height: 55px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 451px TO 525px */
@media screen and (min-width: 451px) and (max-width: 525px) {
  section {
    width: 450px;
    margin: auto;
  }

  .first-div {
    flex-direction: column;
  }

  .left {
    padding: 0;
    width: 100%;
    padding: 0 20px;
    padding-top: 35px;
  }

  .left-header {
    width: 100%;
    margin-bottom: 45px;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  .fa-bars {
    display: block;
  }

  .left-writeup h1 {
    font-size: 33px;
  }

  .left-writeup p {
    font-size: 16px;
  }

  .right {
    width: 100%;
    padding-top: 40px;
    margin-top: 35px;
  }

  .right-image-div {
    height: 385px;
    width: 385px;
    margin: auto;
    margin-bottom: 45px;
  }

  .scheduling {
    padding: 18px 16px;
    font-size: 18px;
    letter-spacing: 0;
  }

  .demo {
    font-size: 18px;
    padding: 0;
    padding-left: 50px;
  }

  .disclaimer {
    margin-bottom: 0;
  }

  .disclaimer-tablet {
  display: none;
}

  .disclaimer p {
    font-size: 16px;
  }

  .disclaimer span {
    font-size: 16px;
    margin-left: 5px;
  }

  .right button {
    display: none;
  }

  .second-div {
    flex-direction: column;
    padding: 50px 20px;
    justify-content: space-between;
  }

  .pictures-container {
    width: 100%;
    padding: 0;
  }

  .pictures-container h1 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet{
  display: none;
}

  .pictures-container-div-mobile {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .pictures-container-div-mobile div {
    height: 55px;
    display: flex;
    gap: 7px;
  }

  .pictures-container-div-mobile div img {
    width: 55px;
  }

  .writeup-container {
    width: 100%;
    padding: 0;
    margin-top: 35px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 18px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 18px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 20px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 16px;
  }

  .unified h1 {
    width: 100%;
    font-size: 30px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 16px;
  }

  .enhanced h1 {
    width: 100%;
    font-size: 30px;
  }

  .enhanced p {
    width: 100%;
    font-size: 17px;
  }

  .enhanced button {
    margin-bottom: 40px;
  }

  footer {
    padding: 30px 18px;
  }

  .footer-container {
    flex-direction: column;
    gap: 35px;
  }

  .footer-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 30px;
  }

  .footer-list div p {
    font-size: 20px;
  }

  .footer-list div ul > li {
    font-size: 16px;
  }

  input {
    padding: 20px 0;
    padding-left: 20px;
    font-size: 16px;
  }

  form button {
    width: 100%;
    width: 180px;
    font-size: 16px;
    height: 55px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 526px TO 600px */
@media screen and (min-width: 526px) and (max-width: 600px) {
  section {
    width: 525px;
    margin: auto;
  }

  .first-div {
    flex-direction: column;
  }

  .left {
    padding: 0;
    width: 100%;
    padding: 0 20px;
    padding-top: 35px;
  }

  .left-header {
    width: 100%;
    margin-bottom: 45px;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  .fa-bars {
    display: block;
  }

  .left-writeup h1 {
    font-size: 38px;
  }

  .left-writeup p {
    font-size: 18px;
  }

  .right {
    width: 100%;
    padding-top: 40px;
    margin-top: 35px;
  }

  .right-image-div {
    height: 460px;
    width: 460px;
    margin: auto;
    margin-bottom: 45px;
  }

  .scheduling {
    padding: 18px 16px;
    font-size: 18px;
    letter-spacing: 0;
  }

  .demo {
    font-size: 18px;
    padding: 0;
    padding-left: 50px;
  }

  .disclaimer {
    margin-bottom: 0;
  }

  .disclaimer-tablet {
  display: none;
}

  .disclaimer p {
    font-size: 18px;
  }

  .disclaimer span {
    font-size: 16px;
    margin-left: 5px;
  }

  .right button {
    display: none;
  }

  .second-div {
    flex-direction: column;
    padding: 50px 20px;
    justify-content: space-between;
  }

  .pictures-container {
    width: 100%;
    padding: 0;
  }

  .pictures-container h1 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet{
  display: none;
}

  .pictures-container-div-mobile {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .pictures-container-div-mobile div {
    height: 65px;
    display: flex;
    gap: 7px;
  }

  .pictures-container-div-mobile div img {
    width: 65px;
  }

  .writeup-container {
    width: 100%;
    padding: 0;
    margin-top: 35px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 20px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 20px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 20px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 16px;
  }

  .unified h1 {
    width: 100%;
    font-size: 30px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 16px;
  }

  .enhanced h1 {
    width: 100%;
    font-size: 30px;
  }

  .enhanced p {
    width: 100%;
    font-size: 17px;
  }

  .enhanced button {
    margin-bottom: 40px;
  }

  footer {
    padding: 30px 18px;
  }

  .footer-container {
    flex-direction: column;
    gap: 35px;
  }

  .footer-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 30px;
  }

  .footer-list div p {
    font-size: 20px;
  }

  .footer-list div ul > li {
    font-size: 16px;
  }

  input {
    padding: 20px 0;
    padding-left: 20px;
    font-size: 16px;
    width: 60%;
  }

  form button {
    width: 100%;
    width: 180px;
    font-size: 16px;
    height: 55px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 601px TO 685px */
@media screen and (min-width: 601px) and (max-width: 685px) {
  section {
    width: 600px;
    margin: auto;
  }

  .first-div {
    flex-direction: column;
  }

  .left {
    padding: 0;
    width: 100%;
    padding: 0 20px;
    padding-top: 35px;
  }

  .left-header {
    width: 100%;
    margin-bottom: 45px;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  .fa-bars {
    display: block;
  }

  .left-writeup h1 {
    font-size: 42px;
  }

  .left-writeup p {
    font-size: 20px;
  }

  .right {
    width: 100%;
    padding-top: 40px;
    margin-top: 35px;
  }

  .right-image-div {
    height: 535px;
    width: 535px;
    margin: auto;
    margin-bottom: 45px;
  }

  .scheduling {
    padding: 18px 16px;
    font-size: 18px;
    letter-spacing: 0;
  }

  .demo {
    font-size: 18px;
    padding: 0;
    padding-left: 50px;
  }

  .disclaimer {
    margin-bottom: 0;
  }

  .disclaimer-tablet {
  display: none;
}

  .disclaimer p {
    font-size: 20px;
  }

  .disclaimer span {
    font-size: 20px;
    margin-left: 5px;
  }

  .right button {
    display: none;
  }

  .second-div {
    flex-direction: column;
    padding: 50px 20px;
    justify-content: space-between;
  }

  .pictures-container {
    width: 100%;
    padding: 0;
  }

  .pictures-container h1 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 30px;
  }

  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet{
  display: none;
}

  .pictures-container-div-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pictures-container-div-mobile div {
    height: 75px;
    display: flex;
    gap: 10px;
  }

  .pictures-container-div-mobile div img {
    width: 75px;
  }

  .writeup-container {
    width: 100%;
    padding: 0;
    margin-top: 35px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 20px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 20px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 20px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 18px;
  }

  .unified h1 {
    width: 100%;
    font-size: 30px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 18px;
  }

  .enhanced h1 {
    width: 100%;
    font-size: 30px;
  }

  .enhanced p {
    width: 100%;
    font-size: 18px;
  }

  .enhanced button {
    margin-bottom: 40px;
  }

  footer {
    padding: 30px 18px;
  }

  .footer-container {
    flex-direction: column;
    gap: 35px;
  }

  .footer-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 30px;
  }

  .footer-list div p {
    font-size: 20px;
  }

  .footer-list div ul > li {
    font-size: 16px;
  }

  input {
    padding: 20px 0;
    padding-left: 20px;
    font-size: 16px;
    width: 65%;
  }

  form button {
    width: 100%;
    width: 180px;
    font-size: 16px;
    height: 55px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 686px TO 759px */
@media screen and (min-width: 686px) and (max-width: 759px) {
  section {
    width: 685px;
  }

  .first-div {
    flex-direction: column;
  }

  .left {
    padding: 0;
    width: 100%;
    padding: 0 20px;
    padding-top: 35px;
  }

  .left-header {
    width: 100%;
    margin-bottom: 45px;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  }

  .fa-bars {
    display: block;
  }

  .left-writeup h1 {
    font-size: 50px;
  }

  .left-writeup p {
    font-size: 23px;
    line-height: 38px;
  }

  .right {
    width: 100%;
    padding-top: 40px;
    margin-top: 35px;
  }

  .right-image-div {
    height: 620px;
    width: 620px;
    margin: auto;
    margin-bottom: 45px;
  }

  .scheduling {
    padding: 18px 16px;
    font-size: 18px;
    letter-spacing: 0;
  }

  .demo {
    font-size: 18px;
    padding: 0;
    padding-left: 50px;
  }

  .disclaimer {
    margin-bottom: 0;
  }

  .disclaimer-tablet {
  display: none;
}

  .disclaimer p {
    font-size: 20px;
  }

  .disclaimer span {
    font-size: 20px;
    margin-left: 5px;
  }

  .right button {
    display: none;
  }

  .second-div {
    flex-direction: column;
    padding: 50px 20px;
    justify-content: space-between;
  }

  .pictures-container {
    width: 100%;
    padding: 0;
  }

  .pictures-container h1 {
    margin: 0;
    font-size: 36px;
    margin-bottom: 30px;
  }

  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet{
  display: none;
}

  .pictures-container-div-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pictures-container-div-mobile div {
    height: 85px;
    display: flex;
    gap: 10px;
  }

  .pictures-container-div-mobile div img {
    width: 85px;
  }

  .writeup-container {
    width: 100%;
    padding: 0;
    margin-top: 35px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 22px;
    line-height: 38px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 22px;
    line-height: 38px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 20px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 18px;
  }

  .unified h1 {
    width: 100%;
    font-size: 35px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 18px;
  }

  .enhanced h1 {
    width: 100%;
    font-size: 35px;
  }

  .enhanced p {
    width: 100%;
    font-size: 18px;
  }

  .enhanced button {
    margin-bottom: 40px;
  }

  footer {
    padding: 30px 38px;
  }

  .footer-container {
    flex-direction: column;
    gap: 35px;
  }

  .footer-list {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 30px;
  }

  .footer-list div p {
    font-size: 20px;
  }

  .footer-list div ul > li {
    font-size: 16px;
  }

  input {
    padding: 20px 0;
    padding-left: 20px;
    font-size: 16px;
    width: 65%;
  }

  form button {
    width: 100%;
    width: 180px;
    font-size: 16px;
    height: 55px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 760px TO 840px */

@media screen and (min-width: 760px) and (max-width: 840px) {
  section {
    width: 760px;
  }

  .left {
    width: 345px;
    padding: 0 40px;
    padding-top: 60px;
  }

  .left-header {
    margin-bottom: 90px;
    gap: 50px;
  }

  .left-writeup h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .left-writeup p {
    font-size: 18px;
  }

  .button-div {
    width: max-content;
    flex-direction: column;
  }

  .disclaimer {
    display: none;
  }

  .disclaimer-tablet {
    display: flex;
  }

  .disclaimer-tablet p {
    font-size: 18px;
  }

  .disclaimer-tablet span {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
  }

  .disclaimer-tablet img {
    margin-right: 10px;
  }

  .scheduling {
    font-size: 18px;
    padding: 21px 25px;
    letter-spacing: 0;
  }

  .right {
    width: 415px;
    padding: 0 35px;
    padding-top: 40px;
  }

  .right-image-div {
    width: 340px;
    height: 340px;
  }

  .right button {
    margin-left: 145px;
    margin-bottom: 145px;
  }

  .second-div {
    padding-top: 85px;
    flex-direction: column;
    padding-bottom: 55px;
  }

  .pictures-container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }

  .pictures-container h1 {
    width: 350px;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .pictures-container-div-mobile,
  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pictures-container-div-tablet div {
    display: flex;
    height: 50px;
    gap: 10px;
  }

  .pictures-container-div-tablet div img {
    width: 50px;
  }

  .writeup-container {
    width: 100%;
    padding: 0 40px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 18px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 40px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 18px;
  }

  .unified h1 {
    width: 435px;
    font-size: 35px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 18px;
  }

  .enhanced h1 {
    width: 435px;
    font-size: 35px;
  }

  .enhanced p {
    width: 100%;
    font-size: 18px;
  }

  .enhanced button {
    padding-top: 0;
    margin-bottom: 40px;
  }

  footer {
    padding: 50px 40px;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-list {
    display: flex;
    gap: 90px;
  }

  .footer-list div p {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .footer-list div ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-list div ul > li {
    list-style-type: none;
    font-size: 18px;
    width: max-content;
  }

  .form-div p {
    font-size: 18px;
  }

  form {
    width: 430px;
  }

  input {
    padding-left: 20px;
    font-size: 18px;
  }

  form button {
    width: 195px;
    font-size: 16px;
    letter-spacing: 0;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 841px TO 915px */
@media screen and (min-width: 841px) and (max-width: 915px) {
  section {
    width: 840px;
  }

  .left {
    width: 381px;
    padding: 0 40px;
    padding-top: 60px;
  }

  .left-header {
    margin-bottom: 90px;
    gap: 50px;
  }

  .left-writeup h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .left-writeup p {
    font-size: 18px;
  }

  .button-div {
    width: max-content;
    flex-direction: column;
  }

  .disclaimer {
    display: none;
  }

  .disclaimer-tablet {
    display: flex;
  }

  .disclaimer-tablet p {
    font-size: 18px;
  }

  .disclaimer-tablet span {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
  }

  .disclaimer-tablet img {
    margin-right: 10px;
  }

  .scheduling {
    font-size: 18px;
    padding: 21px 25px;
    letter-spacing: 0;
  }

  .right {
    width: inherit;
    padding: 0 35px;
    padding-top: 40px;
  }

  .right-image-div {
    width: 384px;
    height: 384px;
  }

  .right button {
    margin-left: 145px;
    margin-bottom: 80px;
    float: right;
  }

  .second-div {
    padding-top: 85px;
    flex-direction: column;
    padding-bottom: 55px;
  }

  .pictures-container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
  }

  .pictures-container h1 {
    width: 350px;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .pictures-container-div-mobile,
  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pictures-container-div-tablet div {
    display: flex;
    height: 50px;
    gap: 10px;
  }

  .pictures-container-div-tablet div img {
    width: 50px;
  }

  .writeup-container {
    width: 100%;
    padding: 0 40px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 18px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 40px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 18px;
  }

  .unified h1 {
    width: 435px;
    font-size: 35px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 18px;
  }

  .enhanced h1 {
    width: 435px;
    font-size: 35px;
  }

  .enhanced p {
    width: 100%;
    font-size: 18px;
  }

  .enhanced button {
    padding-top: 0;
    margin-bottom: 40px;
  }

  footer {
    padding: 50px 40px;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-list {
    display: flex;
    gap: 90px;
  }

  .footer-list div p {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .footer-list div ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-list div ul > li {
    list-style-type: none;
    font-size: 18px;
    width: max-content;
  }

  .form-div p {
    font-size: 18px;
  }

  form {
    width: 430px;
  }

  input {
    padding-left: 20px;
    font-size: 18px;
  }

  form button {
    width: 195px;
    font-size: 16px;
    letter-spacing: 0;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 916px TO 990px */

@media screen and (min-width: 916px) and (max-width: 990px) {
  section {
    width: 915px;
  }

  .left {
    width: 415px;
    padding: 0 40px;
    padding-top: 60px;
  }

  .left-header {
    margin-bottom: 90px;
    gap: 50px;
  }

  .left-writeup h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .left-writeup p {
    font-size: 18px;
  }

  .button-div {
    width: max-content;
    flex-direction: column;
  }

  .disclaimer {
    display: none;
  }

  .disclaimer-tablet {
    display: flex;
  }

  .disclaimer-tablet p {
    font-size: 18px;
  }

  .disclaimer-tablet span {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
  }

  .disclaimer-tablet img {
    margin-right: 10px;
  }

  .scheduling {
    font-size: 18px;
    padding: 21px 25px;
    letter-spacing: 0;
  }

  .right {
    width: 500px;
    padding: 0 35px;
    padding-top: 40px;
  }

  .right-image-div {
    width: 425px;
    height: 425px;
  }

  .right button {
    margin-left: 145px;
    margin-bottom: 80px;
    float: right;
  }

  .second-div {
    padding-top: 85px;
    flex-direction: column;
    padding-bottom: 55px;
  }

  .pictures-container {
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
  }

  .pictures-container h1 {
    width: 350px;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .pictures-container-div-mobile,
  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pictures-container-div-tablet div {
    display: flex;
    height: 50px;
    gap: 10px;
  }

  .pictures-container-div-tablet div img {
    width: 50px;
  }

  .writeup-container {
    width: 100%;
    padding: 0 80px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 18px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 80px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 18px;
  }

  .unified h1 {
    width: 435px;
    font-size: 35px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 18px;
  }

  .enhanced h1 {
    width: 435px;
    font-size: 35px;
  }

  .enhanced p {
    width: 100%;
    font-size: 18px;
  }

  .enhanced button {
    padding-top: 0;
    margin-bottom: 40px;
  }

  footer {
    padding: 50px 80px;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-list {
    display: flex;
    gap: 90px;
  }

  .footer-list div p {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .footer-list div ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-list div ul > li {
    list-style-type: none;
    font-size: 18px;
    width: max-content;
  }

  .form-div p {
    font-size: 18px;
  }

  form {
    width: 430px;
  }

  input {
    padding-left: 20px;
    font-size: 18px;
  }

  form button {
    width: 195px;
    font-size: 16px;
    letter-spacing: 0;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 991px TO 1065px */

@media screen and (min-width: 991px) and (max-width: 1065px) {
  section {
    width: 990px;
  }

  .left {
    width: 449px;
    padding: 0 40px;
    padding-top: 60px;
  }

  .left-header {
    margin-bottom: 90px;
    gap: 50px;
  }

  .left-writeup h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .left-writeup p {
    font-size: 18px;
  }

  .button-div {
    width: max-content;
    flex-direction: column;
  }

  .disclaimer {
    display: none;
  }

  .disclaimer-tablet {
    display: flex;
  }

  .disclaimer-tablet p {
    font-size: 18px;
  }

  .disclaimer-tablet span {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
  }

  .disclaimer-tablet img {
    margin-right: 10px;
  }

  .scheduling {
    font-size: 18px;
    padding: 21px 25px;
    letter-spacing: 0;
  }

  .right {
    width: 541px;
    padding: 0 35px;
    padding-top: 40px;
  }

  .right-image-div {
    width: 466px;
    height: 466px;
    margin-bottom: 150px;
  }

  .right button {
    margin-left: 145px;
    margin-bottom: 50px;
    float: right;
  }

  .second-div {
    padding-top: 85px;
    flex-direction: column;
    padding-bottom: 55px;
  }

  .pictures-container {
    width: 100%;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
  }

  .pictures-container h1 {
    width: 350px;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .pictures-container-div-mobile,
  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pictures-container-div-tablet div {
    display: flex;
    height: 50px;
    gap: 10px;
  }

  .pictures-container-div-tablet div img {
    width: 50px;
  }

  .writeup-container {
    width: 100%;
    padding: 0 120px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 18px;
  }

  .third-div {
    flex-direction: column;
    padding: 0 120px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 18px;
  }

  .unified h1 {
    width: 435px;
    font-size: 35px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 18px;
  }

  .enhanced h1 {
    width: 435px;
    font-size: 35px;
  }

  .enhanced p {
    width: 100%;
    font-size: 18px;
  }

  .enhanced button {
    padding-top: 0;
    margin-bottom: 40px;
  }

  footer {
    padding: 50px 120px;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-list {
    display: flex;
    gap: 90px;
  }

  .footer-list div p {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .footer-list div ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-list div ul > li {
    list-style-type: none;
    font-size: 18px;
    width: max-content;
  }

  .form-div p {
    font-size: 18px;
  }

  form {
    width: 430px;
  }

  input {
    padding-left: 20px;
    font-size: 18px;
  }

  form button {
    width: 195px;
    font-size: 16px;
    letter-spacing: 0;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 1066px TO 1140px */

@media screen and (min-width: 1066px) and (max-width: 1140px) {
  section {
    width: 1065px;
  }

  .left {
    width: 483px;
    padding: 0 40px;
    padding-top: 60px;
  }

  .left-header {
    margin-bottom: 90px;
    gap: 50px;
  }

  .left-writeup h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .left-writeup p {
    font-size: 18px;
  }

  .button-div {
    width: max-content;
    flex-direction: column;
  }

  .disclaimer {
    display: none;
  }

  .disclaimer-tablet {
    display: flex;
  }

  .disclaimer-tablet p {
    font-size: 18px;
  }

  .disclaimer-tablet span {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
  }

  .disclaimer-tablet img {
    margin-right: 10px;
  }

  .scheduling {
    font-size: 18px;
    padding: 21px 25px;
    letter-spacing: 0;
  }

  .right {
    width: 582px;
    padding: 0 35px;
    padding-top: 40px;
  }

  .right-image-div {
    width: 507px;
    height: 507px;
    margin-bottom: 150px;
  }

  .right button {
    margin-left: 145px;
    margin-bottom: 50px;
    float: right;
  }

  .second-div {
    padding-top: 85px;
    flex-direction: column;
    padding-bottom: 55px;
  }

  .pictures-container {
    width: 100%;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
  }

  .pictures-container h1 {
    width: 350px;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .pictures-container-div-mobile,
  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pictures-container-div-tablet div {
    display: flex;
    height: 50px;
    gap: 10px;
  }

  .pictures-container-div-tablet div img {
    width: 50px;
  }

  .writeup-container {
    width: 100%;
    padding: 0 120px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 18px;
  }

   .third-div {
    flex-direction: column;
    padding: 0 120px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 18px;
  }

  .unified h1 {
    width: 435px;
    font-size: 35px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 18px;
  }

  .enhanced h1 {
    width: 435px;
    font-size: 35px;
  }

  .enhanced p {
    width: 100%;
    font-size: 18px;
  }

  .enhanced button {
    padding-top: 0;
    margin-bottom: 40px;
  }

  footer {
    padding: 50px 120px;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-list {
    display: flex;
    gap: 90px;
  }

  .footer-list div p {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .footer-list div ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-list div ul > li {
    list-style-type: none;
    font-size: 18px;
    width: max-content;
  }

  .form-div p {
    font-size: 18px;
  }

  form {
    width: 430px;
  }

  input {
    padding-left: 20px;
    font-size: 18px;
  }

  form button {
    width: 195px;
    font-size: 16px;
    letter-spacing: 0;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* FOR SCREENS FROM 1141px TO 1439px */

@media screen and (min-width: 1141px) and (max-width: 1439px) {
  section {
    width: 1140px;
  }

  .left {
    width: 517px;
    padding: 0 40px;
    padding-top: 60px;
  }

  .left-header {
    margin-bottom: 90px;
    gap: 50px;
  }

  .left-writeup h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .left-writeup p {
    font-size: 18px;
  }

  .button-div {
    width: max-content;
    flex-direction: column;
  }

  .disclaimer {
    display: none;
  }

  .disclaimer-tablet {
    display: flex;
  }

  .disclaimer-tablet p {
    font-size: 18px;
  }

  .disclaimer-tablet span {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 5px;
  }

  .disclaimer-tablet img {
    margin-right: 10px;
  }

  .scheduling {
    font-size: 18px;
    padding: 21px 25px;
    letter-spacing: 0;
  }

  .right {
    width: 623px;
    padding: 0 35px;
    padding-top: 40px;
  }

  .right-image-div {
    width: 548px;
    height: 548px;
    margin-bottom: 150px;
  }

  .right button {
    margin-left: 145px;
    margin-bottom: 50px;
    float: right;
  }

  .second-div {
    padding-top: 85px;
    flex-direction: column;
    padding-bottom: 55px;
  }

  .pictures-container {
    width: 100%;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
  }

  .pictures-container h1 {
    width: 350px;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .pictures-container-div-mobile,
  .pictures-container-div-desktop {
    display: none;
  }

  .pictures-container-div-tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pictures-container-div-tablet div {
    display: flex;
    height: 50px;
    gap: 10px;
  }

  .pictures-container-div-tablet div img {
    width: 50px;
  }

  .writeup-container {
    width: 100%;
    padding: 0 120px;
  }

  .writeup-container h1 {
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;
  }

  .writeup-container h5 {
    width: 100%;
    font-size: 18px;
  }

   .third-div {
    flex-direction: column;
    padding: 0 120px;
    padding-top: 40px;
  }

  .unified {
    width: 100%;
    padding: 0;
  }

  .unified span {
    font-size: 18px;
  }

  .unified h1 {
    width: 435px;
    font-size: 35px;
  }

  .unified p {
    width: 100%;
    font-size: 18px;
  }

  .unified button {
    margin-bottom: 60px;
  }

  .enhanced {
    width: 100%;
    padding: 0;
  }

  .enhanced span {
    font-size: 18px;
  }

  .enhanced h1 {
    width: 435px;
    font-size: 35px;
  }

  .enhanced p {
    width: 100%;
    font-size: 18px;
  }

  .enhanced button {
    padding-top: 0;
    margin-bottom: 40px;
  }

  footer {
    padding: 50px 120px;
  }

  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-list {
    display: flex;
    gap: 90px;
  }

  .footer-list div p {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .footer-list div ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-list div ul > li {
    list-style-type: none;
    font-size: 18px;
    width: max-content;
  }

  .form-div p {
    font-size: 18px;
  }

  form {
    width: 430px;
  }

  input {
    padding-left: 20px;
    font-size: 18px;
  }

  form button {
    width: 195px;
    font-size: 16px;
    letter-spacing: 0;
  }
}
